@import '../../index.scss';

.icon-container{
    margin-top: 50px;
    p{
        color: gray;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .icons{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
            svg{
            cursor: pointer;
            width: 40px;
        }
    }
}